<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Paint Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", false)
    <link rel="stylesheet" href="~/Content/Custom.css" />


</head>

<body>
    <audio controls autoplay loop>
        <source src="~/Content/img/Let%20Go-%20jtrump.mp3" type="audio/mpeg" />
    </audio>
    <div class="masthead-clearfix">
        <div class="navbar-collapse collapse">
            <div class="container">
                <nav class="nav navbar-expand-sm navbar-dark">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav masthead-nav">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Add Product", "Index", "Product", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("View Sales", "Index", "Sales", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()

</body>
</html>

